html,
body {
  margin: 0;
  padding: 0;
  background-color: midnightblue;
}
header {
  text-align: center;
  border: 2px solid ghostwhite;
  height: 40px;
  color: rgb(229, 229, 240);
  font-size: 23px;
  background: midnightblue;
}
label {
  color: rgb(204, 156, 0);
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 0.5em;
}
header > span {
  text-decoration: underline;
}

.form-container {
  margin: 0;
}

.contactForm {
  background-color: #536ba2;
  display: grid;
  justify-content: center;
}
#textarea {
  vertical-align: middle;
  border-radius: 24px;
  margin-bottom: 0;
}
#button {
  background-color: rgb(153, 89, 5);
  color: whitesmoke;
  font-size: 18px;
  border-radius: 0;
}

.subscribe {
  color: rgb(204, 156, 0);
}

input {
  border-radius: 30px;
}
